#questions {
  display: flex;
  flex-direction: column;
  padding: 2.75rem 2.25rem;
  gap: 2.25rem;

  & .items {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    & img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    & .text {
      flex: 1;

      & h3 {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 150%;
        color: var(--content-brand);
        margin-bottom: 0.25rem;
      }

      & p {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 150%;
        color: var(--content-secondary);
      }
    }
  }
}
